@import "tailwindcss";

html, body {
  /* Premium Deep Slate instead of Pure Black */
  background-color: #020617; 
  color: #e2e8f0; 
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}