@import "tailwindcss";
@config "../../tailwind.config.ts"; /* Ye line Tailwind v4 ko aapki config se connect karegi */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 5, 8, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020617; /* Dark background default takki white screen na aaye */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Scrollbar ko professional banane ke liye */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}